.header {
  padding-top: 73px;
  .header__container {
    display: flex;
    align-items: center;
  }
}

.logo {
  margin-right: 40px;
}

.nav__list {
  list-style-type: none;
  display: flex;
  .nav__item {
    margin-left: 40px;
    .nav__link {
      color: $white;
      font-size: $font-size;
      transition: all 0.3s ease;
    }

    .nav__link:hover {
      color: $light-coral;
    }
  }
}
